aside
  h4.bismillah &#xFDFD;
  h3
    span(ng-bind-html="info.book.current.book_name | bookname")
    span.pill(ng-if="info.book.current.part_num") Part {{info.book.current.part_num}}

  h2 {{info.collection.title_en}}

  .book-info

    ul.nav(ng-show="books.length")

      li(ng-repeat="item in books track by $index" ng-class="{active: isActive(item.collection, item.book_id)}")
        //- a(ng-href="{{item.link}}" back-top)
        a(ui-sref="hadith.bookid({collection: item.collection, book_id: item.book_id})" back-top)
          span(ng-bind-html="item.book_name")
          span.pill-inverse(ng-if="item.part_num") Part {{item.part_num}}
