.header-container
  header.navbar(headroom)
    .container
      .left
        ul.nav
          li(ng-repeat="item in collections track by $index" ng-class="{active: isActive(item.code)}")
            a(ui-sref="hadith.bookid({collection: item.code, book_id: item.first_book})" back-top) {{item.title_en}}

      .right
        h1
          a(href="/") {{appName}}
        search-box

  header.title(headroom offset="250")
    .container
      .row
        h3
          span(ng-bind-html="info.book.current.book_name | bookname")
          span.pill(ng-if="info.book.current.part_num") Part {{info.book.current.part_num}}

        h2 {{info.collection.title_en}}

        a.pill-inverse(href="#" back-top)
          | Top&nbsp;
          fa(name="chevron-up")

        search-box
