.header-container(ui-view="header")
//- hadith-header(ng-controller="CollectionListController")

section.hadith-view
  .container
    .content
      .wrapper
        div(ui-view class="ng-trans ng-trans-fade")
        //- hadith-list(ng-controller="HadithListController")

    .sidebar
      .wrapper
        div(ui-view="sidebar")
        //- hadith-sidebar(ng-controller="BookListController")

//- hadith-footer(ng-controller="BookListController")
.footer-container(ui-view="footer")
