doctype html
// [if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]
// [if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]
// [if IE 8]><html class="no-js lt-ie9"> <![endif]
// [if gt IE 8]><!
html.no-js
  //<![endif]

  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    base(href="/")
    title HadithVue
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width")

    <script src="bower/pace/pace.js"></script>

    style.
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }
      .pace .pace-progress {
        background: #26a658;
        position: fixed;
        z-index: 2000;
        top: 0;
        left: 0;
        height: 2px;

        -webkit-transition: width 1s;
        -moz-transition: width 1s;
        -o-transition: width 1s;
        transition: width 1s;
      }
      .pace-inactive {
        display: none;
      }

    <!-- build:css(app) styles/vendor.css -->
    <link rel="stylesheet" href="bower/normalize.css/normalize.css">
    <link rel="stylesheet" href="bower/fontawesome/css/font-awesome.css">
    //- <link rel="stylesheet" href="bower/animate.css/animate.css">
    //- <link rel="stylesheet" href="bower/ng-trans-css/ng-trans.css">
    <!-- endbuild -->

    <script src="bower/modernizr/modernizr.js"></script>

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/fonts/typekit.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

  body(ng-app="IslamVue" ng-controller="ApplicationController" ng-cloak class="ng-cloak")
    //[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
      <![endif]
    //[if lt IE 9]>
      <script src="bower/es5-shim/es5-shim.js"></script>
      <script src="bower/json3/lib/json3.min.js"></script>
      <![endif]

    .main(ng-view)

    <!-- build:js(app) scripts/vendor.js -->
    <script src="bower/jquery/dist/jquery.js"></script>
    <script src="bower/lodash/dist/lodash.js"></script>
    <script src="bower/angular/angular.js"></script>
    <script src="bower/angular-resource/angular-resource.js"></script>
    <script src="bower/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower/angular-route/angular-route.js"></script>
    <script src="bower/angular-cache/dist/angular-cache.js"></script>
    <script src="bower/angular-fontawesome/dist/angular-fontawesome.js"></script>
    <script src="bower/velocity/jquery.velocity.js"></script>
    //- <script src="bower/WOW/dist/wow.js"></script>
    //- <script src="bower/angular-animate/angular-animate.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <!-- base -->
    <script src="scripts/app.js"></script>
    <script src="scripts/interceptors/dispatcher.js"></script>

    <!-- factories -->
    <script src="scripts/factories/formatter.js"></script>
    <script src="scripts/factories/misc.js"></script>

    <!-- services -->
    <script src="scripts/services/collection.js"></script>
    <script src="scripts/services/book.js"></script>
    <script src="scripts/services/hadith.js"></script>

    <!-- directives -->
    <script src="scripts/directives/hadith.js"></script>
    <script src="scripts/directives/infScroll.js"></script>
    <script src="scripts/directives/fx.js"></script>
    <script src="scripts/directives/link.js"></script>

    <!-- filters -->
    <script src="scripts/filters/filters.js"></script>

    <!-- controllers -->
    <script src="scripts/controllers/application.js"></script>
    <script src="scripts/controllers/collectionMenu.js"></script>
    <script src="scripts/controllers/bookMenu.js"></script>
    <script src="scripts/controllers/hadithView.js"></script>
    <!-- endbuild -->

    //- // Google Analytics: change UA-XXXXX-X to be your site's ID.
    //- script.
    //-   var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    //-   (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    //-   g.src='//www.google-analytics.com/ga.js';
    //-   s.parentNode.insertBefore(g,s)}(document,'script'));
